.app{
  width: 500px;
  margin: 0 auto;
}
.todo-template{
  h1{
    text-align: center;
    padding: 10px 0;
    background-color: rgb(0, 134, 187);
    color: #fff;
  }
}
.todo-insert{
  display: flex;
  justify-content: space-between;
  
  input{
    flex: 1;
    font-size: 1.5rem;
    outline: none;
    background-color: #222;
    color: #fff;
    border: none;
    &::placeholder{
      color: #fff;
    }
  }
  button{
    background-color: #666;
    color: #fff;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 1.5rem;
    &:hover{
      background-color: #adb5bd;
      cursor: pointer;
    }
  }
}
.todo-list{
  label.checked{
    text-decoration: line-through;
  }
}